@import '_mixins';
@import '../inc/_toggles';

#scroll-tab-4 {
  .page-content {
    width: 100%;
    position: relative;
    .search {
      display: flex;
      justify-content: space-around;
      align-items: stretch;
      .mdl-textfield {
        width: 100%;
        margin: 0 20px;
        padding: 20px 0 10px 0;     
        label:after {
          bottom: 10px;
        }
        .mdl-inputs;
      }
    }

    .filters-main-content{
      padding: 0 5px;
      display: flex;
      justify-content: space-around;
      // height: calc(100vh - 21%);
      position: relative;
      .left-sidebar {
        .mdl-textfield {
          padding: 10px 0 10px 0;
          div.easy-autocomplete {
            width: 100% !important;
          }
          label:after {
            bottom: 10px;
          }
        }
        box-shadow: 0px 10px 25px 5px rgba(0,0,0,0.15);
        width: 25%;
        // min-height: 100%;
        .close, .open{
          display: none;
        }
        .checkbox-block {
          font-weight: bold;
          text-transform: uppercase;
          text-align: center;
          .mdl-switch {
            // display: inline;
            margin-bottom: 10px;
            width: 60%;
          }
        }
        .button-filters {
          .mdl-inputs;
          text-align: center;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-wrap: wrap;
          .filters-title{
            margin: 10px 0 0 0;
            text-transform: uppercase;
          }
          .filter-button{
            width: 80%;
            margin: 5px 10px ;
          }
        }
        .mini-calendar {
          .zabuto_calendar{
            .legend {
              text-align: center;
              span {
                color: black;
                font-size: 90%;
              }
            }
            .calendar-month-header span {
              text-transform: uppercase;
            }
            .table tr.calendar-month-header td {
              padding-top: 0px;
            }
            .table tr.calendar-month-header td span {
              padding-bottom: 0px;
            }
            .fa {
              font-size: 30px;
              &:hover {
                color: lighten(#000, 40%);
              }
              &:active {
                color: lighten(red, 10%);
              }
            }
          }
          
          .calendar-month-header {
            position: relative;
            height: 100%;
          }
          user-select: none;
          td div.day {
            z-index: -999;
            font-size: 16px;
            border-radius: 4px;
            &:hover {
              background-color: darken(#ccc, 10%);
            }
            &:active {
              background-color: darken(#ccc, 20%);
            }
          .badge-today {
            padding: 5px;
            border-radius: 50%;
            }
          }
        }
      }
      .messages-wrapper {
        width: 45%;
        position:relative;
        overflow-x: hidden; 
        box-shadow: 0px 10px 25px 5px rgba(0,0,0,0.15);
        .center-messages-content {
          .messages-container-styles;
          top: 0px;
        }
      }


      
      .right-sidebar{
        box-shadow: 0px 10px 25px 5px rgba(0,0,0,0.15);
        width: 25%;
        padding: 10px;
        .favorites-wrapper {
          text-align: center;
          margin-bottom: 20px;
          .favorites-title {
            font-size: 20px;
            font-weight: 500;
            line-height: 1;
            letter-spacing: .02em;
          }
          a {
            font-size: 20px;
            font-weight: 500;
            line-height: 1;
            letter-spacing: .02em;
            &:hover {
              color: darken(red, 5%);
              cursor: pointer;
            }
            &:active {
              color: darken(red, 15%);
            }
          }
        }
        .filters-title{
          margin: 0 0 10px 0;
          text-align: center;
          text-transform: uppercase;
        }
        .total-block {
          
        }
        

      }
    }
  }
}






@media screen and (max-width: 768px) {
  #scroll-tab-4 .page-content .filters-main-content {
    height: 100vh;
  }
  #scroll-tab-4 .page-content .filters-main-content .left-sidebar {
    background: white !important;
    width: 100%;
    margin-left:-100%;
    height: 100%; /* 100% Full-height */
    // width: 0; /* 0 width - change this with JavaScript */
    position: absolute; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: -100px; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black*/
    // overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 80px; /* Place content 60px from the top */
    transition: 0.2s; /* 0.5 second transition effect to slide in the sidenav */
    .filters-title {
      display: none;
    }
    .closebtn {
      display: block;
      font-size: 1.3em;
      // margin-left: 50px;
      background-color: white;
      
      border: none;
      border-radius: 3px;
      position: absolute;
    }
    .open {
      border: 1px solid #ccc;
      padding: 10px;
      top: 150px;
      right: -110px;
      &:hover {
        background-color: #ccc;
      }
    }
    .close {
      display: none;
      padding: 10px;
      top: 40px;
      right: 30px;
      &:hover {
        background-color: #ccc;
      }
    }
  }
  .right-sidebar {
    display: none;
  }
  #scroll-tab-4 .page-content .filters-main-content .messages-wrapper {
    width: 100%;
  }
}



