.search-input {
  // background-image: url('/css/searchicon.png'); /* Add a search icon to input */
  // background-position: 10px 12px; /* Position the search icon */
  // background-repeat: no-repeat; /* Do not repeat the icon image */
  width: 100%; /* Full-width */
  font-size: 18px; /* Increase font-size */
  padding: 12px 20px 12px 20px; /* Add some padding */
  // margin: 0 10px;
  border: 1px solid #ddd; /* Add a grey border */
  margin-bottom: 5px; /* Add some space below the input */
  text-align: center;

}


//colorize mixin
.colorize(@n, @i: 0) when (@i =< @n) {
  .day-block-@{i} {
    background: hsl(100 - (110 / @n)*@i, 100%, 50%);
  }
  .colorize(@n, (@i + 1));
}

.colorize(100);

.day-block-110 {  
  background-color: #f20018;
}
