.day-block-1 {
  color: #0aff00; }

.day-block-2 {
  color: #0fff00; }

.day-block-3 {
  color: #14ff00; }

.day-block-4 {
  color: #19ff00; }

.day-block-5 {
  color: #1eff00; }

.day-block-6 {
  color: #23ff00; }

.day-block-7 {
  color: #28ff00; }

.day-block-8 {
  color: #2dff00; }

.day-block-9 {
  color: #33ff00; }

.day-block-10 {
  color: #38ff00; }

.day-block-11 {
  color: #3dff00; }

.day-block-12 {
  color: #42ff00; }

.day-block-13 {
  color: #47ff00; }

.day-block-14 {
  color: #4cff00; }

.day-block-15 {
  color: #51ff00; }

.day-block-16 {
  color: #56ff00; }

.day-block-17 {
  color: #5bff00; }

.day-block-18 {
  color: #60ff00; }

.day-block-19 {
  color: #66ff00; }

.day-block-20 {
  color: #6bff00; }

.day-block-21 {
  color: #70ff00; }

.day-block-22 {
  color: #75ff00; }

.day-block-23 {
  color: #7aff00; }

.day-block-24 {
  color: chartreuse; }

.day-block-25 {
  color: #84ff00; }

.day-block-26 {
  color: #89ff00; }

.day-block-27 {
  color: #8eff00; }

.day-block-28 {
  color: #93ff00; }

.day-block-29 {
  color: #99ff00; }

.day-block-30 {
  color: #9eff00; }

.day-block-31 {
  color: #a3ff00; }

.day-block-32 {
  color: #a8ff00; }

.day-block-33 {
  color: #adff00; }

.day-block-34 {
  color: #b2ff00; }

.day-block-35 {
  color: #b7ff00; }

.day-block-36 {
  color: #bcff00; }

.day-block-37 {
  color: #c1ff00; }

.day-block-38 {
  color: #c6ff00; }

.day-block-39 {
  color: #ccff00; }

.day-block-40 {
  color: #d1ff00; }

.day-block-41 {
  color: #d6ff00; }

.day-block-42 {
  color: #dbff00; }

.day-block-43 {
  color: #e0ff00; }

.day-block-44 {
  color: #e5ff00; }

.day-block-45 {
  color: #eaff00; }

.day-block-46 {
  color: #efff00; }

.day-block-47 {
  color: #f4ff00; }

.day-block-48 {
  color: #f9ff00; }

.day-block-49 {
  color: yellow; }

.day-block-50 {
  color: #fff900; }

.day-block-51 {
  color: #fff400; }

.day-block-52 {
  color: #ffef00; }

.day-block-53 {
  color: #ffea00; }

.day-block-54 {
  color: #ffe500; }

.day-block-55 {
  color: #ffe000; }

.day-block-56 {
  color: #ffdb00; }

.day-block-57 {
  color: #ffd600; }

.day-block-58 {
  color: #ffd100; }

.day-block-59 {
  color: #ffcc00; }

.day-block-60 {
  color: #ffc600; }

.day-block-61 {
  color: #ffc100; }

.day-block-62 {
  color: #ffbc00; }

.day-block-63 {
  color: #ffb700; }

.day-block-64 {
  color: #ffb200; }

.day-block-65 {
  color: #ffad00; }

.day-block-66 {
  color: #ffa800; }

.day-block-67 {
  color: #ffa300; }

.day-block-68 {
  color: #ff9e00; }

.day-block-69 {
  color: #ff9900; }

.day-block-70 {
  color: #ff9300; }

.day-block-71 {
  color: #ff8e00; }

.day-block-72 {
  color: #ff8900; }

.day-block-73 {
  color: #ff8400; }

.day-block-74 {
  color: #ff7f00; }

.day-block-75 {
  color: #ff7a00; }

.day-block-76 {
  color: #ff7500; }

.day-block-77 {
  color: #ff7000; }

.day-block-78 {
  color: #ff6b00; }

.day-block-79 {
  color: #ff6600; }

.day-block-80 {
  color: #ff6000; }

.day-block-81 {
  color: #ff5b00; }

.day-block-82 {
  color: #ff5600; }

.day-block-83 {
  color: #ff5100; }

.day-block-84 {
  color: #ff4c00; }

.day-block-85 {
  color: #ff4700; }

.day-block-86 {
  color: #ff4200; }

.day-block-87 {
  color: #ff3d00; }

.day-block-88 {
  color: #ff3800; }

.day-block-89 {
  color: #ff3300; }

.day-block-90 {
  color: #ff2d00; }

.day-block-91 {
  color: #ff2800; }

.day-block-92 {
  color: #ff2300; }

.day-block-93 {
  color: #ff1e00; }

.day-block-94 {
  color: #ff1900; }

.day-block-95 {
  color: #ff1400; }

.day-block-96 {
  color: #ff0f00; }

.day-block-97 {
  color: #ff0a00; }

.day-block-98 {
  color: #ff0a00; }

.day-block-99 {
  color: #ff0a00; }

.day-block-100 {
  color: #ff0a00; }
