<header class="mdl-layout__header">
  <div class="mdl-layout__header-row">
    <!-- Title -->
    <span class="mdl-layout-title"> 
      <img src="assets/logo1.png" class="img-logo"> 
      <span style="color: crimson;">pc</span>
      <span style="color: rgb(79, 206, 79);">(master*)</span>
      <span style="color: yellow;">kottans-stats $</span>
    </span>
    <!-- Add spacer, to align navigation to the right -->
    <div class="mdl-layout-spacer"></div>
    <!-- Navigation. We hide it in small screens. -->
    <nav class="mdl-navigation mdl-layout--large-screen-only"> 
        <a class="mdl-navigation__link" target="_blank" href="https://gitter.im/Kottans/frontend?utm_source=badge&utm_medium=badge&utm_campaign=pr-badge"><img class="gitter-icon" src="http://cdn02.gitter.im/_s/708c5ff/images/favicon-unread.ico"> Gitter chat</a>
        <a class="mdl-navigation__link" target="_blank" href="https://github.com/kottans/frontend"><img src="https://png.icons8.com/github/androidL/30/000000"> Github repository</a>
        <a class="mdl-navigation__link" target="_blank" href="https://twitter.com/kottans_org"><img src="https://png.icons8.com/twitter/androidL/30/000000"> Kottans on Twitter</a>
    </nav>
  </div>
  <!-- Tabs -->
  <div class="mdl-layout__tab-bar mdl-js-ripple-effect">
      <a href="#scroll-tab-1" class="mdl-layout__tab is-active">Timeline</a>
      <a href="#scroll-tab-2" class="mdl-layout__tab">Finished</a>
      <a href="#scroll-tab-3" class="mdl-layout__tab ">Statistics</a>
      <a href="#scroll-tab-4" class="mdl-layout__tab ">Filters</a>
    </div>
</header>