<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-114928239-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-114928239-1');
  </script>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=0.9">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Kottans stats</title>

  <meta name="theme-color" content="#3F51B5">
  <meta name="msapplication-navbutton-color" content="#3F51B5">
  <meta name="apple-mobile-web-app-status-bar-style" content="#3F51B5">

  <link rel="shortcut icon" type="image/png" href="assets/favicon.png"/>
  <!-- google charts  -->
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <!-- <script src="libs/jquery.min.js"></script> -->
  <script src="libs/jquery/jquery-1.12.4.js"></script>
  <script src="libs/jquery/jquery-ui.js"></script>
  <!-- material lite  -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
  <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
  <!-- countdown timer  -->
  <script src="libs/slickcircular/js/jquery.knob.js"></script>
  <script src="libs/slickcircular/js/jquery.throttle.js"></script>
  <link href="libs/slickcircular/css/jquery.classycountdown.css" rel="stylesheet">
  <script src="libs/slickcircular/js/jquery.classycountdown.js"></script>
  <!-- logo title aka bash font -->
  <link href="https://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet">
  <!-- flickity scrollable flex date divs -->
  <script src="libs/flickity/flickity.pkgd.min.js"></script>
  <link href="libs/flickity/flickity.min.css" rel="stylesheet">
  <!-- jQuery CDN -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>

  <link href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet">
  <!-- zabuto calendar -->
  <script src="libs/calendar/zabuto_calendar.min.js"></script>
  <link rel="stylesheet" type="text/css" href="libs/calendar/zabuto_calendar.min.css">
  <!-- highlighting for code blocks -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/androidstudio.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
  <!-- font for messages -->
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
  <!-- easyautocomplete JS file -->
  <script src="libs/easyautocomplete/jquery.easy-autocomplete.min.js"></script> 
  <!-- easyautocomplete CSS file -->
  <link rel="stylesheet" href="libs/easyautocomplete/easy-autocomplete.css">  
  <!-- fot twitter preview -->
  <script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script>
</head>