<div class="mdl-layout__drawer "> <!-- mdl-layout--small-screen-only -->
  <span class="mdl-layout-title">Kottans/frontend</span>
  <div class="avatar">
      <img id="main-logo" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/234228/cat.jpg" alt="Kaptain Kitty" class="avatar-img">
  </div>
  <nav class="mdl-navigation">
    <a class="mdl-navigation__link" target="_blank" href="https://gitter.im/Kottans/frontend?utm_source=badge&utm_medium=badge&utm_campaign=pr-badge"><img class="gitter-icon" src="http://cdn02.gitter.im/_s/708c5ff/images/favicon-unread.ico"> Gitter chat</a>
    <a class="mdl-navigation__link" target="_blank" href="https://github.com/kottans/frontend"><img src="https://png.icons8.com/github/androidL/30/000000"> Github repository</a>
    <a class="mdl-navigation__link" target="_blank" href="https://twitter.com/kottans_org"><img src="https://png.icons8.com/twitter/androidL/30/000000"> Kottans on Twitter</a>
   
  </nav>
</div>