<section class="mdl-layout__tab-panel is-active" id="scroll-tab-4">
  <div class="page-content"><!-- Your content goes here -->
    <div class="search">
      <input class="search-by-name" placeholder="search by name" type="text">
      <input class="search-by-wtwr" placeholder="search anything..." type="text">
      <input class="search-reset" placeholder="reset" type="button" value="Reset all">
    </div>
     <div class="scroll-wrapper">
      <!-- https://css-tricks.com/creating-responsive-touch-friendly-carousels-with-flickity/ -->
      <div class="block-date-scroll carousel"
      data-flickity='{ "freeScroll": true, "contain": true, "prevNextButtons": false, "pageDots": false }'>
      <!-- date blocks renders here -->
    </div>
    </div>
    <div class="filters-main-content">
      <div class="left-sidebar">
        <div class="button-filters">
           <button class="filter-button mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" type="button">
             all with links</button>
          <button class="filter-button mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" type="button">
              all with pr's</button>
          <button class="filter-button mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" type="button">
              all with images</button>
          <button class="filter-button mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" type="button">
              all with video</button>
        </div>
        <div class="mini-calendar">
          <!-- https://github.com/zabuto/calendar -->
          <div id="my-calendar"></div>
          <script type="application/javascript">
              $(document).ready(function () {
                  $("#my-calendar").zabuto_calendar({language: "en"});
              });
          </script>
        </div>
      </div>
      <div class="center-messages-content">
        <!-- messages renders here -->
      </div>
      <div class="right-sidebar">
        <div class="chart-www"></div>
        <div class="chart-count-mess-per-user"></div>
        <div class="summary-per-media">
          <div class="summary-links-count"></div>
          <div class="summary-videos-count"></div>
        </div>
        <div class="chart-count-mension-per-user"></div>
      </div>
    </div>
  </div>
</section>