<form class="signup">
    <div class="controls-wrapper">
      <p>You must set email for ability to save favorites. 
        Remember it when you want to load your favorites later))
      </p>
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          <input class=" mdl-textfield__input" type="email" id="email-input">
          <label class="mdl-textfield__label" for="email-input">Enter anything email</label>
        </div>
        <br>
      <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" type="submit">
        Go</button>
    </div>
  </form>

  <section class="favorites-section">
    <button class="close-favorites-window" type='button'>X</button>
    <div class="left-side">
      <h5>Favorite messages</h5>
      <div class="saved-messages-container">
          <h4>...empty yet... </h4>
      </div>
    </div>
    <div class="right-side">
        <h5>Done messages</h5>
        <div class="done-messages-container">
          <h4>...empty yet... </h4>
        </div>
    </div>
  </section>