<section class="mdl-layout__tab-panel " id="scroll-tab-3">
    <div class="page-content"><!-- Your content goes here -->
      <div id="countdown-container">
          <span class="countdown-description">Course started 13 january 2018<br><br></span>
      </div>


      <div class="features">
        <div class="features-item">
          <span class="icon"><img src="https://png.icons8.com/message/ios7/50/000000"></span>
          <span class="count count-messages">....</span>
            <span class="text"><b>MESSAGES</b><br>
              <span class="description">IN OUR <a target="_blank" href="https://gitter.im/Kottans/frontend?utm_source=badge&utm_medium=badge&utm_campaign=pr-badge">GITTER CHAT</a></span>
            </span>
        </div>
        <div class="features-item">
            <span class="icon"><img src="https://png.icons8.com/star/ios7/50/000000"></span>
            <span class="count starred-repo">....</span>
            <span class="text"><b>REPO STARRED</b><br>
              <span class="description">COURSE <a target="_blank" href="https://github.com/kottans/frontend">KOTTANS/FRONTEND</a></span>
             </span>
        </div>
        <div class="features-item">
            <span class="icon"><img src="https://png.icons8.com/user-male/ios7/50/000000"></span>
            <span class="count active-users">....</span>
            <span class="text"><b>ACTIVE USERS</b><br>
              <span class="description">WRITE & COLLABORATE</span>
          </span>
        </div>
        <div class="features-item">
            <span class="icon"><img src="https://png.icons8.com/pull-request/ios7/50/000000"></span>
            <span class="count pull-requests">....</span>
            <span class="text"><b>PULL REQUESTS</b><br>
              <span class="description">IN COMMUNITY <a target="_blank" href="https://github.com/kottans/mock-repo/commits/master">REPO</a></span>
            </span>
        </div>
        <div class="features-item">
            <span class="icon"><img src="https://png.icons8.com/construction-worker/dotty/50/000000"></span>
            <span class="count learners">....</span>
            <span class="text"><b>EAGER LEARNERS</b><br>
              <span class="description">ALREADY HAS FINISHED TASKS</span>
            </span>
        </div>
      </div>
      
      <!-- <center>
        <a target="_blank" href="https://github.com/kottans/frontend" class="started mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
          GET STARTED! <i class="material-icons">play_arrow</i>
        </a>
      </center> -->

      <div class="chart-wrapper">
        <div id="linechart"></div>
        <div id="vertical_chart" ></div> 
      </div>
    </div>
  </section>